a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	color: #FF0000;
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
.text_black_10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
}
.text_black_12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.text_grey_10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	text-decoration: none;
}
.text_grey_12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	text-decoration: none;
}
.text_white_10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
}
.text_white_12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
}
.text_red_10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FF0000;
	text-decoration: none;
}
.text_red_12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
}
.text_yellow_10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFF00;
	text-decoration: none;
}
.text_yellow_12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFF00;
	text-decoration: none;
}
.button_silver {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: none;
	color: #000000;
	background-color: #F2F2F2;
	height: 16px;
	width: 100%;
}
.button_orange {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: none;
	color: #000000;
	background-color: #FFCC33;
	height: 16px;
	width: 100%;
}
.button_green {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: none;
	color: #000000;
	background-color: #CCFFCC;
	height: 16px;
	width: 100%;
}
.button_blue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: none;
	color: #000000;
	background-color: #B9DCFF;
	height: 16px;
	width: 100%;
}
.button_yellow {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: none;
	color: #000000;
	background-color: #FFFF99;
	height: 16px;
	width: 100%;
}
.input_memo_stretch {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000;
	width: 100%;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.input_edit_centre {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	height: 15px;
	border: none;
	width: 98%;
	text-align: center;
}
.input_edit_left {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	height: 15px;
	border: none;
	text-align: left;
	width: 98%;
}
.input_list {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	border: solid #FFFFFF;
}
.input_edit_centre_small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	height: 15px;
	border: none;
	text-align: center;
	width: 20px;
}

